<include file="Index:base" />
<div id="content">
    <div class="left_menu">
        <ul id="nav_dot">
            {$menu_html}
        </ul>
    </div>
    <div class="m-right">
        <div class="right-nav">
            <ul>
                <li><img src="Public/images/home.png"></li>
                <li style="margin-left:25px;">您当前的位置：</li>
                <li><a href="#">{$position_1}</a></li>
                <li>></li>
                <li><a href="#">{$position_2}</a></li>
            </ul>
        </div>
        <div class="main" style="text-align: center;">
            <form id='editRealMsgForm' enctype="multipart/form-data" action="#"  method="post">
                <input type="hidden" name="id" value="{$info['id']}">
                项目：
                  {$project_html}
                列表页面名称：
                <input  name="list_name" value="{$info['list_name']}">
                <br/><br/>
                数据表关联关系
                <br/>
                <table class="table" width="100%">
                    <thead align="center">
                    <tr>
                        <th width="50%">关联表</th>
                        <th width="50%">关联字段</th>
                    </tr>
                    </thead>
                    <tbody align="center">
                    <volist name="table_list" id="vo" key="k" >
                        <tr>
                            <td>
                                {$vo.table_html_1}
                                左联
                                {$vo.table_html_2}
                            </td>
                            <td>
                                {$vo.join_field_1}
                                等于
                                {$vo.join_field_2}
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
                <br/><br/>
                列表展示数据
                <table class="table" width="100%">
                    <thead align="center">
                    <tr>
                        <th width="15%">列名称</th>
                        <th width="40%">数据来源</th>
                        <th width="10%">列默认值</th>
                        <th width="20%">操作</th>
                    </tr>
                    </thead>
                    <tbody align="center">
                    <volist name="list" id="vo" key="k" >
                        <tr>
                            <td><input type="text" name="show_field_name[]" value="{$vo.show_field_name}"></td>
                            <td>
                                {$vo.table}
                                {$vo.field_name}
                            </td>
                            <td><input type="text" size="40" name="default_value[]" value="{$vo.default_value}"></td>
                            <td>
                                <a href="{:U('index/add_case')}&id={$vo.id}&from=search_car"  title="插入"><span>插入</span></a>
                                <a href="{:U('index/del_case')}&id={$vo.id}&from=search_car"  title="删除"><span>删除</span></a>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
                <p><input type="submit" value="提交"></p>
            </form>
        </div>
    </div>
</div>

<include file="Index:footer" />
<script>
    var table_all_list = '';
    function joinTableChange(){
        var mya  = new Array();
        var mya_1= new Array();
        $('select[name="table_id_1[]"]').each(function(i) {
            if($(this).find('option:selected').val()){
                mya.push($(this).find('option:selected').val());
            }
        })
        $('select[name="table_id_2[]"]').each(function(i) {
            if($(this).find('option:selected').val()){
                mya.push($(this).find('option:selected').val());
            }
        })
        if(mya){
            $.unique(mya.sort());
        }
        console.log(mya);
        $('select[name="table_id[]"]').each(function(i) {
            var sel_id = this.id;
            var sel_value = this.value;
            var arr = sel_id.split('_');
            var key_id = arr.pop();
            jQuery('select[id="table_id_'+key_id+'"]').empty();
            jQuery('select[id="table_id_'+key_id+'"]').append("<option value=\"\">请选择</option>");
            $.each(table_all_list,function(index,value){
                if(isInArray(mya,value['id'])){
                    if(sel_value && sel_value == value['id']){
                        jQuery('select[id="table_id_'+key_id+'"]').append("<option value=\""+value['id']+"\" selected>"+value['table_name']+"</option>");
                    }else{
                        jQuery('select[id="table_id_'+key_id+'"]').append("<option value=\""+value['id']+"\">"+value['table_name']+"</option>");
                    }
                }
            });
        })
    }
    function isInArray(arr,value){
        for(var i = 0; i < arr.length; i++){
            if(value === arr[i]){
                return true;
            }
        }
        return false;
    }
    $('#project_code').change(function(){
        var project_code = $('#project_code').val();
        if(project_code){
            jQuery.ajax({

                url:"{:U('index/getTableByProjectCode')}",

                data: {
                    project_code: project_code
                },

                type:"POST",

                beforeSend:function()
                {
                },
                success:function(data)
                {
                    if(data.status == 1 && data.table_html){
                        table_all_list = data.table_list;
                        $('select[name="table_id[]"]').html('<option value="">请选择</option>');
                        $('select[name="table_id_1[]"]').html(data.table_html);
                        $('select[name="table_id_2[]"]').html(data.table_html);
                        $('select[name="field_name[]"]').html('<option value="">请选择</option>');
                        $('select[name="field_name_1[]"]').html('<option value="">请选择</option>');
                        $('select[name="field_name_2[]"]').html('<option value="">请选择</option>');
                    }
                }

            });
        }else{
            $('select[name="table_id[]"]').html('<option value="">请选择</option>');
            $('select[name="table_id_1[]"]').html('<option value="">请选择</option>');
            $('select[name="table_id_2[]"]').html('<option value="">请选择</option>');
            $('select[name="field_name[]"]').html('<option value="">请选择</option>');
            $('select[name="field_name_1[]"]').html('<option value="">请选择</option>');
            $('select[name="field_name_2[]"]').html('<option value="">请选择</option>');
        }
    })
    $('select[name="table_id[]"]').change(function(){
        var tid = this.value;
        var sel_id = this.id;
        var arr = sel_id.split('_');
        var key_id = arr.pop();
        if(tid){
            jQuery.ajax({

                url:"{:U('index/getFieldByTableId')}",

                data: {
                    id: tid
                },

                type:"POST",

                beforeSend:function()
                {
                },
                success:function(data)
                {
                    if(data.status == 1 && data.field_html){
                        $('select[id="field_name_'+key_id+'"]').html(data.field_html);
                    }
                }

            });
        }else{
            $('select[id="field_name_'+key_id+'"]').html('<option value="">请选择</option>');
        }
    })
    $('select[name="table_id_1[]"]').change(function(){
        var tid = this.value;
        var sel_id = this.id;
        var arr = sel_id.split('_');
        var key_id = arr.pop();
        if(tid){
            jQuery.ajax({

                url:"{:U('index/getFieldByTableId')}",

                data: {
                    id: tid
                },

                type:"POST",

                beforeSend:function()
                {
                },
                success:function(data)
                {
                    if(data.status == 1 && data.field_html){
                        $('select[id="field_name_1_'+key_id+'"]').html(data.field_html);
                    }
                }

            });
            joinTableChange();
        }else{
            joinTableChange();
            $('select[id="field_name_1_'+key_id+'"]').html('<option value="">请选择</option>');
        }
    })
    $('select[name="table_id_2[]"]').change(function(){
        var tid = this.value;
        var sel_id = this.id;
        var arr = sel_id.split('_');
        var key_id = arr.pop();
        if(tid){
            jQuery.ajax({

                url:"{:U('index/getFieldByTableId')}",

                data: {
                    id: tid
                },

                type:"POST",

                beforeSend:function()
                {
                },
                success:function(data)
                {
                    if(data.status == 1 && data.field_html){
                        $('select[id="field_name_2_'+key_id+'"]').html(data.field_html);
                    }
                }

            });
            joinTableChange();
        }else{
            joinTableChange();
            $('select[id="field_name_2_'+key_id+'"]').html('<option value="">请选择</option>');
        }
    })
    $(document).ready(function() {
// 使用 jQuery异步提交表单
        $('#editRealMsgForm').submit(function() {

            jQuery.ajax({

                url:'{$lmw_url}',

                data:$('#editRealMsgForm').serialize(),

                type:"POST",

                beforeSend:function()
                {
                },
                success:function(data)
                {
                    if(data.status == 1){
                        alert(data.info);
                        window.location.href = data.url;
                    }else{
                        alert(data.info);
                    }
                }

            });

            return false;

        });

    });
</script>
<style>
    p {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
</style>





